@import "tailwindcss";

@font-face {
  font-family: 'KerisKedyuche';
  src: url('./asset/케리스 케듀체/KERISKEDU_B.ttf') format('truetype');
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'EF_jejudoldam';
  src: url('./asset/EF_jejudoldam(TTF).ttf') format('truetype');
  font-weight: normal;
  font-display: swap;
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

@layer base {
  img {
    display: inline-block;
  }
  a, button {
    cursor: pointer;
  }
}

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}
